.vertical-menu {
  width: 250px; /* Set a width if you like */
}

ul {
  text-decoration: none;
}
li {
  padding-left: 30px;
  background-color: rgb(255, 255, 255); /* Grey background color */
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
}
 .logo{
    padding-left: 0px;
 }
.vertical-menu li a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 36px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu li:hover {
  background-color:  #21ebff; /* Dark grey background on mouse-over */
}

.menu {
  height: 100vh;
  background-color: white;
  border-style: solid;
  border-left: transparent;
  border-bottom: transparent;
  border-top: transparent;
  position: fixed;
}


.logo {
  border-style: solid;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
}

.item{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Dropdown Button */
.dropbtn {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

