<div class="menu">
    <div class="vertical-menu">
        <li class="logo">
            <img src="../../../../assets/logo.png">
        </li>
        <li class="item">
            <mat-icon>home</mat-icon><a routerLink="/accueil" title="">Accueil</a>
        </li>
        <li class="item">
            <mat-icon> local_hospital</mat-icon><a routerLink="/clinique">Cliniques</a>
        </li>
        <li class="item">
            <mat-icon>work</mat-icon><a routerLink="/employe">Employés</a>
        </li>
        <li class="item">
            <mat-icon>person</mat-icon>
            <div class="dropdown">
                <div class="dropbtn">
                    <a routerLink="/proprietaire">propriétaires</a>
                </div>
                <div class="dropdown-content">
                    <a routerLink="/detail">détails</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        <li class="item ">
            <mat-icon>pets</mat-icon>
            <div class="dropdown">
                <div class="dropbtn">
                    <a routerLink="/animaux">Animaux</a>
                </div>
                <div class="dropdown-content">
                    <a routerLink="/occurence">Occurences</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        <li class="item">
            <mat-icon>healing</mat-icon><a routerLink="/traitement">Traitements</a>
        </li>
        <li class="item">
            <mat-icon>attach_money</mat-icon><a routerLink="/salaire">Salaire</a>
        </li>
        <p></p>
    </div>
</div>