.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.seconBox {
  padding-left: 300px;
  padding-right: 100px;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
  text-align: center;
}

.subtitle {
  font-size: 40px;
  padding-bottom: 20px;
  text-decoration: overline underline;
}

li {
  text-decoration: none;
  list-style: none;
}
