<div class="mainBox">
  <app-menu class="menu"></app-menu>


  <div class="seconBox">
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image"></div>
      <h1 class="subtitle">FACTURE</h1>
      <mat-card-title>TOTAL : {{bill.total}} $</mat-card-title>
      <p>__________________________________________________________________</p>
      <mat-card-subtitle>Pet Id : {{bill.petid}}</mat-card-subtitle>
      <mat-card-subtitle>Owner Id : {{bill.ownerid}}</mat-card-subtitle>
      <mat-card-subtitle>Veterinary Id : {{bill.veterinaryid}}</mat-card-subtitle>
      <mat-card-subtitle>date : {{bill.date}}</mat-card-subtitle>

      <mat-card-subtitle>Payment method : {{bill.paymentmethod}}</mat-card-subtitle>
      <mat-card-subtitle>Payment accepted ? {{bill.paymentaccepted}}</mat-card-subtitle>
      <p>__________________________________________________________________</p>
      <mat-card-content>
        liste des traitements :
        <li *ngFor="let traitement of medicins; let i = index">
          id: {{traitement.id}}  __________    quantity: {{traitement.quantity}}  _________  price: {{traitement.price}} $
        </li>
      </mat-card-content>
      <p>__________________________________________________________________</p>
      <mat-card-title>Bill ID : {{bill.id}}</mat-card-title>
    </mat-card>
  </div>
</div>