<div class="mainBox">
    <app-menu class="menu"></app-menu>


    <div class="listeClinique">
        <p class="title">Nos employés</p>
        <p>
        </p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="phonenb">
                <th mat-header-cell *matHeaderCellDef> phonenb </th>
                <td mat-cell *matCellDef="let element"> {{element.phonenb}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="birthdate">
                <th mat-header-cell *matHeaderCellDef> birthdate </th>
                <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef> sexe </th>
                <td mat-cell *matCellDef="let element"> {{element.sexe}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nas">
                <th mat-header-cell *matHeaderCellDef> nas </th>
                <td mat-cell *matCellDef="let element"> {{element.nas}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fonction">
                <th mat-header-cell *matHeaderCellDef> fonction </th>
                <td mat-cell *matCellDef="let element"> {{element.fonction}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef> salary </th>
                <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>

        <div class="add">
            <button class="delButon" mat-flat-button color="#DC143C" (click)="deleteEmployes()">Supprimer</button>
        </div>
        <p class="space"></p>
        <div class="addClinic">
            <mat-form-field appearance="fill" class="item">
                <mat-label>id</mat-label>
                <input matInput #box1>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>name</mat-label>
                <input matInput #box2>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>phonenb</mat-label>
                <input matInput #box3>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" #box4>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>sexe</mat-label>
                <input matInput #box5>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>nas</mat-label>
                <input matInput #box6>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>fonction</mat-label>
                <input matInput #box7>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>salary</mat-label>
                <input matInput #box8>
            </mat-form-field>
        </div>
        <div class="add">
            <button class="addButon" mat-flat-button color="#3CB371"
                (click)="addEmploye( box1.value, box2.value,box3.value,box4.value,box5.value,box6.value,box7.value, box8.value)">Ajouter</button>
        </div>
    </div>

    <div class="filtre">
        <mat-card class="example-card">
            <h2>Liste des filtres :</h2>
            <section class="example-section">
                <mat-checkbox (change)="ageFilter($event.checked)">uniquement + 40 ans</mat-checkbox>
            </section>
        </mat-card>
    </div>
</div>