<div class="mainBox">
    <app-menu></app-menu>
    <div class="test">
        <p class="title">Véto-Sans-Frontière</p>
        <div class="box">
            <p class="text">Bonjours et bienvenue sur le site officiel de Véto-Sans-Frontière. Notre organisation a but
                non lucrative a
                pour objectif de fournir des soins de sante prives pour animaux domestique a travers le Canada. Ce
                service
                est offert dans diverses cliniques situées dans les
                principales villes canadiennes. </p>
            <p class="text"> Ce site a été entierement réalise par des étudiants de polytechnique Montréal pour la
                session d'hiver 2021.</p>

            <p class="text"> Noé Berguin.</p>
            <p class="text"> Yannick Bonou.</p>

            <a class="addButon" routerLink="/animaux" mat-flat-button>Commencer</a>
        </div>
    </div>
</div>