.box {
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 70%;
  padding-left: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 1%;
}

.mainBox {
  display: flex;
}

.test {
  margin: auto;
  //display: flex;
  //align-items: center;
  padding-left: 300px;
  padding-top: 100px;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text {
  text-align: justify;
  font-size: 17px;
  width: 70%;
}

img {
  padding-top: 100px;
}

.title {
  padding-bottom: 80px;
  font-size:60px;
  color: #21ebff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  padding: 15px;
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  color: #21ebff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.5s;
  overflow: hidden;
}
a:hover {
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0.5s;
}

a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #21ebff;
  border-left: 2px solid #21ebff;
  transition: 0.5s;
}

a:hover:before {
  width: 100%;
  height: 100%;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #21ebff;
  border-right: 2px solid #21ebff;
  transition: 0.5s;
}

a:hover:after {
  width: 100%;
  height: 100%;
}
