<div class="mainBox">
    <app-menu class="menu"></app-menu>


    <div class="listeClinique">
        <p class="title">Nos traitements</p>
        <p class="text">
        </p>
        <div class="filtre">
            <mat-card class="example-card">
                <h4>Selectionnez un animal :</h4>
                <section class="example-section">
                    <mat-form-field appearance="fill">
                        <mat-label>Pet id</mat-label>
                        <mat-select (selectionChange)="updateTraitementList($event.value)">
                            <mat-option *ngFor="let pet of PetList" [value]="pet.id">
                                {{pet.id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </mat-card>
        </div>



        <table mat-table [dataSource]="traitements" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <p> description</p>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <div class="add" *ngIf="autorisationToGenrateBill">
            <a routerLink="{{billID}}" class="delButon" (click)="generateBill()" mat-flat-button>Générer facture</a>
        </div>


    </div>
</div>