<div class="mainBox">
    <app-menu class="menu"></app-menu>


    <div class="listeClinique">
        <p class="title">Nos propriétaires</p>
        <p class="text">
        </p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="id_clinic">
                <th mat-header-cell *matHeaderCellDef> id_clinic </th>
                <td mat-cell *matCellDef="let element"> {{element.id_clinic}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="adress">
                <th mat-header-cell *matHeaderCellDef> adress </th>
                <td mat-cell *matCellDef="let element"> {{element.adress}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="phonenb">
                <th mat-header-cell *matHeaderCellDef> phonenb </th>
                <td mat-cell *matCellDef="let element"> {{element.phonenb}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>

        <div class="add">
            <button class="delButon" mat-flat-button color="#DC143C" (click)="deleteOwners()">Supprimer</button>
        </div>
        <p class="space"></p>
        <div class="addClinic">
            <mat-form-field appearance="fill" class="item">
                <mat-label>id</mat-label>
                <input matInput #box1>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>id_clinic</mat-label>
                <input matInput #box2>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>name</mat-label>
                <input matInput #box3>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>adress</mat-label>
                <input matInput #box4>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>phonenb</mat-label>
                <input matInput #box5>
            </mat-form-field>

        </div>
        <div class="add">
            <button class="addButon" mat-flat-button color="#3CB371" (click)="addOwners( 
                box1.value, 
                box2.value,
                box3.value,
                box4.value,
                box5.value)">Ajouter</button>
        </div>
        <p class="space"></p>
        <p class="space"></p>
    </div>
</div>