table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: gray;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: white;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .mainBox {
    position: relative;
    display: flex;
  }
  
  .listeClinique {
    padding-left: 300px;
    padding-right: 100px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
  }
  
  .add {
    padding-top: 30px;
  }
  
  p {
    text-align: center;
  }
  
  img {
    padding-top: 10px;
  }
  
  .title {
    padding-bottom: 150px;
    font-size: 80px;
    color: #21ebff;
  
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .item {
    padding-left: 10px;
    width: 150px;
  }
  
  .addClinic {
    padding: 20px;
    background-color: white;
  }
  
  .space {
    padding-top: 30px;
  }
  
  .text {
    width: 50%;
  }
  
  button {
    background-color: gray;
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
  }
  button:hover {
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
  }
  
  button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
  }
  
  button:hover:before {
    width: 100%;
    height: 100%;
  }
  
  button:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
  }
  
  button:hover:after {
    width: 100%;
    height: 100%;
  }
  