<div class="mainBox">
    <app-menu class="menu"></app-menu>


    <div class="listeClinique">
        <p class="title">Nos animaux</p>
        <div class="filtre">
            <mat-card class="example-card">
                <section class="example-section">
                    <mat-form-field appearance="fill">
                        <mat-label>Filtre nom</mat-label>
                        <input matInput #Filtre (change)="nameFilter($event.target.value)">
                    </mat-form-field>
                </section>
            </mat-card>
        </div>
        <p class="space"></p>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="id_clinic">
                <th mat-header-cell *matHeaderCellDef> id_clinic </th>
                <td mat-cell *matCellDef="let element"> {{element.id_clinic}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="specie">
                <th mat-header-cell *matHeaderCellDef> specie </th>
                <td mat-cell *matCellDef="let element"> {{element.specie}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef> size </th>
                <td mat-cell *matCellDef="let element"> {{element.size}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="birthdate">
                <th mat-header-cell *matHeaderCellDef> birthdate </th>
                <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="inscriptiondate">
                <th mat-header-cell *matHeaderCellDef> inscriptiondate </th>
                <td mat-cell *matCellDef="let element"> {{element.inscriptiondate}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> state </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="ownerid">
                <th mat-header-cell *matHeaderCellDef> ownerid </th>
                <td mat-cell *matCellDef="let element"> {{element.ownerid}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>

        <div class="add">
            <button class="delButon" mat-flat-button color="#DC143C" (click)="deletePets()">Supprimer</button>
        </div>
        <p class="space"></p>
        <div class="addClinic">
            <mat-form-field appearance="fill" class="item">
                <mat-label>id</mat-label>
                <input matInput #box1>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>Clinic id</mat-label>
                <mat-select #box2>
                    <mat-option *ngFor="let id of listClinicsId" [value]="id">
                        {{id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>name</mat-label>
                <input matInput #box3>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>type</mat-label>
                <input matInput #box4>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>specie</mat-label>
                <input matInput #box5>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>size</mat-label>
                <input matInput #box6>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>weight</mat-label>
                <input matInput #box7>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>description</mat-label>
                <input matInput #box8>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>birthdate</mat-label>
                <input matInput [matDatepicker]="picker" #box9>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>inscription</mat-label>
                <input matInput [matDatepicker]="picker2" #box10>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>state</mat-label>
                <input matInput #box11>
            </mat-form-field>

            <mat-form-field appearance="fill" class="item">
                <mat-label>Owner id</mat-label>
                <mat-select #box12>
                    <mat-option *ngFor="let owner of OwnerList" [value]="owner.id">
                        {{owner.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="add">
            <button class="addButon" mat-flat-button color="#3CB371" (click)="addPets( 
                box1.value, 
                box2.value,
                box3.value,
                box4.value,
                box5.value,
                box6.value,
                box7.value,
                box8.value,
                box9.value,
                box10.value,
                box11.value,
                box12.value)">Ajouter</button>
            
                <button *ngIf="this.selection.selected.length === 1" class="addButon" mat-flat-button color="#3CB371">Modifier</button>
        </div>
        <p class="space"></p>
        <p class="space"></p>
    </div>
</div>